<link rel="stylesheet" href="/static/style.css">
<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body{
      background-repeat: no-repeat;
      background-size:100% 100%;
      background-attachment:fixed;
    }
  </style>
  <body background="https://images.pexels.com/photos/9797234/pexels-photo-9797234.jpeg?auto=compress&cs=tinysrgb&w=400"></body>
  <center>
  <title>Weather Forecast for {{ location }}</title>
  <div class="forecast-container">
</head>
<body>
  <div class="forecast-item">
  <h2>Weather Forecast for {{ location }}</h2>
  <pre>{{ forecast }}</pre>
</div>
</div>
</center>
</body>
</html>


